---
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
import '../styles/style.css';
---
<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title} - {frontmatter.profession}</title>
  </head>
  <body>
    <slot/>
    {frontmatter.profession}
  </body>
</html>